version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.front
    expose:
      - "5500"
    restart: unless-stopped

  nginx:
    image: nginx:1.27-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
    restart: unless-stopped
